%tr
  %th{:width => '100'}= t_attr(:code, Account)
  %th{:width => '200'}= t_attr(:title, Account)
  %th{:width => '100', :style => "text-align: right"}= t_attr(:saldo, Account)
  %th.action-links{:width => '50'}
